# Imports

In [1]:
import pandas as pd 
from bs4 import BeautifulSoup
import requests

# Constants and Funcs

In [2]:
fre_mulitplier = 78.5

countries = ['bangladesh', 'brazil', 'cambodia','india', 'china', 'indonesia', 'mexico']

city_country = ['brazil', 'cambodia','rwanda']

div_admin_countries = ['bangladesh']

def convert_to_flt(str):
    try:
        return float(str.replace(",", ""))  
    except ValueError:
        return None

In [3]:
def make_df_admin(page):
    soup = BeautifulSoup(page.content, 'html.parser')
    # print(soup.prettify())

    rows = soup.find_all('tr', class_=['rname', 'admin2'])
    # rows = soup.find_all('tr')

    data = []

    header_cells = soup.find_all('th', class_='rpop')
    # import pdb; pdb.set_trace()
    years = []
    for header in header_cells:
        # Extract the year from the 'span' element inside the 'th' (e.g., "2005-06-30")
        span = header.find('span', class_='unit')
        # import pdb; pdb.set_trace()
        if span:
            # Extract year from the text, assuming it's in the form "Census\nYYYY-MM-DD"
            year = span.text.strip().split('-')[0][-4:]  # Get the year part
            years.append(year)


        
    for row in rows:
        try:
            # Get the name, status, and population for each census year
            name = row.find('td', class_='rname').text.strip()
            status = row.find('td', class_='rstatus').text.strip()

            # Extract area and population data for different census years
            # import pdb; pdb.set_trace()
            area = convert_to_flt(row.find('td', class_='rname')['data-area'])  # Get the 'data-area' attribute

            # Extract all population data (there could be multiple columns for different years)
            population_cells = row.find_all('td', class_='rpop')

            # Create a dictionary to store population data for each year
            population_data = {}
            for i, cell in enumerate(population_cells):
                population = cell.text.strip()
                population_data[f'Population {years[i]}'] = convert_to_flt(population)

            # Append the extracted data into the list
            row_data = [name, status, area] + list(population_data.values())
            data.append(row_data)
            
        except:
            continue
    # Create a DataFrame
    columns = ['Name', 'Status', 'Area'] + [year for year in years]  
    df = pd.DataFrame(data, columns=columns)

    latest_population_column = years[-1]

    return df, latest_population_column

In [4]:
def make_df_city(page, section_id):
    soup = BeautifulSoup(page.content, 'html.parser')
    soup = soup.find(id=section_id)
    # print(soup.prettify())

    # rows = soup.find_all('tr', class_=['rname', 'admin2'])
    rows = soup.find_all('tr')

    data = []

    header_cells = soup.find_all('th', class_='rpop')

    years = []

    for header in header_cells:
        # Extract the year from the 'span' element inside the 'th' (e.g., "2005-06-30")
        span = header.find('span', class_='unit')
        if span:
            # Extract year from the text, assuming it's in the form "Census\nYYYY-MM-DD"
            year = span.text.strip().split('-')[0][-4:]  # Get the year part
            if year not in years:
                years.append(year)

    # import pdb; pdb.set_trace()
        
    for row in rows:
        if section_id == 'adminareas':
            try:
                # Get the name, status, and population for each census year
                name = row.find('td', class_='rname').text.strip()
                status = row.find('td', class_='rstatus').text.strip()

                # Extract area and population data for different census years
                # import pdb; pdb.set_trace()
                area = row.find('td', class_='rarea').text.strip()  # Get the 'data-area' attribute

                # Extract all population data (there could be multiple columns for different years)
                population_cells = row.find_all('td', class_='rpop')

                # Create a dictionary to store population data for each year
                population_data = {}
                for i, cell in enumerate(population_cells):
                    population = cell.text.strip()
                    population_data[f'Population {years[i]}'] = convert_to_flt(population)

                # Append the extracted data into the list
                row_data = [name, status, area] + list(population_data.values())
                data.append(row_data)
                
            except Exception as e:
                # import pdb; pdb.set_trace()
                continue
            # Create a DataFrame
          

        elif section_id == "largecities":
            # import pdb; pdb.set_trace()
            try:
                # Get the name, status, and population for each census year
                name = row.find('td', {'class': None}).text.strip()
                # Extract all population data (there could be multiple columns for different years)
                population_tag = row.find('td', {'class': 'rpop'}).text.strip()

                # Append the extracted data into the list
                row_data = [name, population_tag]
                data.append(row_data)
                
            except Exception as e:
                # import pdb; pdb.set_trace()
                continue
            # Create a DataFrame

        elif section_id == "citysection":
            # import pdb; pdb.set_trace()
            try:
                # Get the name, status, and population for each census year
                name = row.find('td', class_='rname').text.strip()
                # status = row.find('td', class_='rstatus').text.strip()

                # Extract area and population data for different census years
                # import pdb; pdb.set_trace()
                area = row.find('td', class_='noviz').text.strip()  # Get the 'data-area' attribute

                # Extract all population data (there could be multiple columns for different years)
                population_cells = row.find_all('td', class_='rpop')

                # Create a dictionary to store population data for each year
                population_data = {}
                for i, cell in enumerate(population_cells):
                    population = cell.text.strip()
                    population_data[f'Population {years[i]}'] = convert_to_flt(population)

                # Append the extracted data into the list
                row_data = [name, area] + list(population_data.values())
                data.append(row_data)
                
            except Exception as e:
                # import pdb; pdb.set_trace()
                continue
            # Create a DataFrame

        
    
    if section_id == 'adminareas':
        columns = ['Name', 'Status', 'Area'] + [year for year in years]  
    elif section_id == 'largecities':
        columns = ['Name'] + [year for year in years] 
    elif section_id == 'citysection':
        columns = ['Name', 'Area'] + [year for year in years] 

    df = pd.DataFrame(data, columns=columns)

    latest_population_column = years[-1]

    return df, latest_population_column

In [5]:
def make_df_blank(page):
    soup = BeautifulSoup(page.content, 'html.parser')
    # print(soup.prettify())

    # rows = soup.find_all('tr', class_=['rname', 'admin2'])
    admin_section = soup.find('section', id='adminareas')
    rows = admin_section.find_all('tr', attrs={'itemscope': True})
    # rows = soup.find_all('tr')

    data = []

    header_cells = admin_section.find_all('th', class_='rpop')
    # import pdb; pdb.set_trace()
    years = []
    for header in header_cells:
        # Extract the year from the 'span' element inside the 'th' (e.g., "2005-06-30")
        span = header.find('span', class_='unit')
        # import pdb; pdb.set_trace()
        if span:
            # Extract year from the text, assuming it's in the form "Census\nYYYY-MM-DD"
            year = span.text.strip().split('-')[0][-4:]  # Get the year part
            years.append(year)

    years = list(dict.fromkeys(years))  # Remove duplicates while preserving order

    for row in rows:
        # import pdb; pdb.set_trace()
        try:
            # Get the name, status, and population for each census year
            name = row.find('td', class_='rname').find('span', itemprop='name').text.strip()

            status = row.find('td', class_='rname')['data-status'].strip()

            # Extract area and population data for different census years
            # import pdb; pdb.set_trace()
            area_text = row.find('td', class_='rarea').text.strip()  # Get the 'data-area' attribute
            area = convert_to_flt(area_text) 
            # Extract all population data (there could be multiple columns for different years)
            population_cells = row.find_all('td', class_='rpop')
            population_data = {}
            for i, cell in enumerate(population_cells):
                population = cell.text.strip()
                population_data[f'Population {years[i]}'] = convert_to_flt(population)

            # Append the full row data
            row_data = [name, status, area] + list(population_data.values())
            data.append(row_data)
            
        except:
            continue

    # import pdb; pdb.set_trace()
    # Create a DataFrame
    columns = ['Name', 'Status', 'Area'] + [year for year in years]  
    df = pd.DataFrame(data, columns=columns)

    latest_population_column = years[-1]

    return df, latest_population_column

# Webscraper

## For Asia and LATAM

In [6]:
for country in countries:
    print(country)
    if country in city_country:
        page = requests.get(f"https://www.citypopulation.de/en/{country}/cities/")
        admin_df, year = make_df_city(page, 'adminareas')
        # city_df, year = make_df_city(page, 'largecities')
        # city_section_df, year = make_df_city(page, 'citysection')

        # df = pd.concat([admin_df, city_df, city_section_df], axis=0)
        df = admin_df

    elif country in div_admin_countries:
        page = requests.get(f"https://www.citypopulation.de/en/{country}/div/admin/")
        df, year = make_df_div(page)
    
    else:
        page = requests.get(f"https://www.citypopulation.de/en/{country}/admin/")
        df, year = make_df_admin(page)

        # country_admin_df_name = f"{country}_admin_df"
        # country_city_df_name = f"{country}_city_df"
        # country_city_section_df_name = f"{country}_city_section_df"
        # globals()[country_admin_df_name] = admin_df
        # globals()[country_city_df_name] = city_df
        # globals()[country_city_section_df_name] = city_section_df

# import pdb; pdb.set_trace()
    country_df_name = f"{country}_df"  
    country_year_name = f"{country}_year"
    globals()[country_df_name] = df
    globals()[country_year_name] = year

bangladesh

NameError: name 'make_df_div' is not defined

## For Africa

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/kenya/sub/admin/")
kenya_df, year = make_df_admin(page)
kenya_df

               Name  Status     Area       2009       2019
0           Baringo  County  10976.4   555561.0   666763.0
1             Bomet  County   2530.9   730129.0   875689.0
2           Bungoma  County   3023.9  1375063.0  1670570.0
3             Busia  County   1696.3   743946.0   893681.0
4   Elgeyo-Marakwet  County   3032.0   369998.0   454480.0
5              Embu  County   2820.7   516212.0   608599.0
6           Garissa  County  44736.0   623060.0   841353.0
7          Homa Bay  County   3152.5   963794.0  1131950.0
8            Isiolo  County  25350.6   143294.0   268002.0
9           Kajiado  County  21871.1   687312.0  1117840.0
10         Kakamega  County   3020.0  1660651.0  1867579.0
11          Kericho  County   2436.1   752396.0   901777.0
12           Kiambu  County   2538.6  1623282.0  2417735.0
13           Kilifi  County  12539.7  1109735.0  1453787.0
14        Kirinyaga  County   1478.3   528054.0   610411.0
15            Kisii  County   1323.0  1152282.0  1266860.0
16           Kisumu  County   2085.4   968909.0  1155574.0
17            Kitui  County  30429.5  1012709.0  1136187.0
18            Kwale  County   8267.1   649931.0   866820.0
19         Laikipia  County   9532.2   399227.0   518560.0
20             Lamu  County   6253.3   101539.0   143920.0
21         Machakos  County   6042.7  1098584.0  1421932.0
22          Makueni  County   8169.8   884527.0   987653.0
23          Mandera  County  25939.8  1025756.0   867457.0
24         Marsabit  County  70944.1   291166.0   459785.0
25             Meru  County   7006.3  1356301.0  1545714.0
26           Migori  County   2613.5   917170.0  1116436.0
27          Mombasa  County    219.9   939370.0  1208333.0
28         Murang'a  County   2524.2   942581.0  1056640.0
29          Nairobi  County    703.9  3138369.0  4397073.0
30           Nakuru  County   7462.4  1603325.0  2162202.0
31            Nandi  County   2855.8   752965.0   885711.0
32            Narok  County  17950.3   850920.0  1157873.0
33          Nyamira  County    897.3   598252.0   605576.0
34        Nyandarua  County   3285.7   596268.0   638289.0
35            Nyeri  County   3325.0   693558.0   759164.0
36          Samburu  County  21065.1   223947.0   310327.0
37            Siaya  County   2529.8   842304.0   993183.0
38     Taita-Taveta  County  17152.0   284657.0   340671.0
39       Tana River  County  37950.5   240075.0   315943.0
40    Tharaka-Nithi  County   2564.4   365330.0   393177.0
41      Trans Nzoia  County   2495.2   818757.0   990341.0
42          Turkana  County  68232.9   855399.0   926976.0
43      Uasin Gishu  County   3392.2   894179.0  1163186.0
44           Vihiga  County    563.8   554622.0   590013.0
45            Wajir  County  56773.1   661941.0   781263.0
46       West Pokot  County   9123.2   512690.0   621241.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/liberia/")
liberia_df, year = make_df_blank(page)
liberia_df

                Name Status     Area      1984       2008       2022
0               Bomi   Cnty   1942.0   66420.0    84119.0   133705.0
1               Bong   Cnty   8769.0  255813.0   333481.0   467561.0
2           Gbarpolu   Cnty   9685.0   48399.0    83388.0    95995.0
3        Grand Bassa   Cnty   7932.0  159648.0   221693.0   293689.0
4   Grand Cape Mount   Cnty   5160.0   79322.0   127076.0   178867.0
5        Grand Gedeh   Cnty  10480.0   63028.0   125258.0   216692.0
6          Grand Kru   Cnty   3894.0   62791.0    57913.0   109342.0
7               Lofa   Cnty   9978.0  199242.0   276863.0   367376.0
8            Margibi   Cnty   2615.0  151792.0   209923.0   304946.0
9           Maryland   Cnty   2296.0   69267.0   135938.0   172587.0
10       Montserrado   Cnty   1908.0  491078.0  1118241.0  1920965.0
11             Nimba   Cnty  11546.0  313050.0   462026.0   621841.0
12         Rivercess   Cnty   5592.0   37849.0    71509.0    90819.0
13         River Gee   Cnty   5110.0   39782.0    66789.0   124653.0
14             Sinoe   Cnty  10133.0   64147.0   102391.0   151149.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/rwanda/admin/")
rwanda_df, year = make_df_admin(page)
rwanda_df

,Name,Status,Area,2002,2012,2022
0,Est (Intara y'Iburasirazuba) [Eastern],Province,9458.0,1700137.0,2595703.0,3563145.0
1,Kigali,City,730.0,765325.0,1132686.0,1745555.0
2,Nord (Intara y'Amajyaruguru) [Northern],Province,3276.0,1560862.0,1726370.0,2038511.0
3,Ouest (Intara y'Iburengerazuba) [Western],Province,5882.0,2043555.0,2471239.0,2896484.0
4,Sud (Intara y'Amajyepfo) [Southern],Province,5963.0,2058674.0,2589975.0,3002699.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/southafrica/admin/")
southafrica_df, year = make_df_admin(page)
southafrica_df

,Name,Status,Area,1996,2001,2011,2022
0,Eastern Cape,Province,168966.0,6147244.0,6278651.0,6562053.0,7230204.0
1,Free State (Oranje Free State),Province,129825.0,2633504.0,2706775.0,2745590.0,2964412.0
2,Gauteng,Province,18178.0,7834620.0,9390528.0,12272263.0,15099422.0
3,KwaZulu-Natal,Province,94361.0,8572302.0,9584129.0,10267300.0,12423907.0
4,Limpopo (Northern Transvaal),Province,125754.0,4576133.0,4995462.0,5404868.0,6572721.0
5,Mpumalanga (Eastern Transvaal),Province,76495.0,3124203.0,3365957.0,4039939.0,5143324.0
6,Northern Cape,Province,372889.0,1011864.0,991876.0,1145861.0,1355945.0
7,North West,Province,104882.0,2726828.0,2982064.0,3509953.0,3804548.0
8,Western Cape,Province,129462.0,3956875.0,4524335.0,5822734.0,7433020.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/gambia/admin/")
gambia_df, year = make_df_admin(page)
gambia_df

,Name,Status,Area,1993,2003,2013
0,Banjul,Local Government Area,12.0,42326.0,35061.0,31054.0
1,Basse (Upper River),Local Government Area,2070.0,155059.0,182586.0,237220.0
2,Brikama (Western),Local Government Area,1764.0,234917.0,389594.0,688744.0
3,Janjanbureh,Local Government Area,1428.0,88247.0,107212.0,125204.0
4,Kanifeng,Local Government Area,76.0,228214.0,322735.0,377134.0
5,Kerewan (North Bank),Local Government Area,2255.0,156462.0,172835.0,220080.0
6,Kuntaur,Local Government Area,1467.0,67774.0,78491.0,96703.0
7,Mansakonko (Lower River),Local Government Area,1618.0,65146.0,72167.0,81042.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/zambia/admin/")
zambia_df, year = make_df_admin(page)
zambia_df

            Name    Status      Area       2000       2010       2022
0        Central  Province   94394.0  1012257.0  1307111.0  2261336.0
1     Copperbelt  Province   31328.0  1581221.0  1972317.0  2768192.0
2        Eastern  Province   68948.8  1306173.0  1696555.0  2462682.0
3        Luapula  Province   50567.0   775353.0   991927.0  1519478.0
4         Lusaka  Province   21986.0  1391329.0  2191225.0  3093617.0
5       Muchinga  Province   70243.2   449296.0   607763.0   922213.0
6       Northern  Province   77650.0   809400.0  1105824.0  1623853.0
7  North-Western  Province  125826.0   583350.0   727044.0  1278357.0
8       Southern  Province   85283.0  1212124.0  1589926.0  2388091.0
9        Western  Province  126386.0   765088.0   902974.0  1375604.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/malawi/admin/")
malawi_df, year = make_df_admin(page)
malawi_df

,Name,Status,Area,1977,1987,1998,2008,2018,2023
0,Central,Region,35641.0,2143716.0,3110986.0,4066340.0,5497252.0,7523340.0,8533879.0
1,Northern,Region,27131.0,648853.0,911787.0,1233560.0,1679491.0,2289780.0,2532270.0
2,Southern,Region,31780.0,2754891.0,3965734.0,4633968.0,5852755.0,7750629.0,8743362.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/ghana/admin/")
ghana_df, year = make_df_admin(page)
ghana_df

                         Name  Status     Area       2010       2021
0       Ahafo ( Brong Ahafo)  Region   5196.0   484210.0   564668.0
1                     Ashanti  Region  24389.0  4780380.0  5440463.0
2        Bono ( Brong Ahafo)  Region  11113.0   922617.0  1208649.0
3   Bono East ( Brong Ahafo)  Region  23248.0   904156.0  1203400.0
4                     Central  Region   9826.0  2201863.0  2859821.0
5                     Eastern  Region  19323.0  2633154.0  2925653.0
6               Greater Accra  Region   3245.0  4010054.0  5455692.0
7     North East ( Northern)  Region   9070.0   465005.0   658946.0
8                    Northern  Region  26524.0  1544946.0  2310939.0
9               Oti ( Volta)  Region  11066.0   636889.0   747248.0
10      Savannah ( Northern)  Region  34790.0   469510.0   653266.0
11                 Upper East  Region   8842.0  1046545.0  1301226.0
12                 Upper West  Region  18476.0   702110.0   901502.0
13                      Volta  Region   9504.0  1481363.0  1659040.0
14                    Western  Region  13842.0  1664586.0  2060585.0
15  Western North ( Western)  Region  10079.0   711435.0   880921.0

In [ ]:
page = requests.get(f"https://www.citypopulation.de/en/eswatini/")
eswatini_df, year = make_df_blank(page)
eswatini_df

,Name,Status,Area,1976,1986,1997,2007,2017,2024
0,Hhohho,Reg,3569.0,95759.0,178936.0,255455.0,282734.0,320651.0,355700.0
1,Lubombo,Reg,5947.0,81800.0,153958.0,194323.0,207731.0,212531.0,237500.0
2,Manzini,Reg,4068.0,101277.0,192596.0,280972.0,319530.0,355945.0,397000.0
3,Shiselweni,Reg,3779.0,95735.0,155569.0,198978.0,208454.0,204111.0,212200.0

# Excel Writer

In [ ]:
with pd.ExcelWriter('data/all_citypopulation_data.xlsx', engine='openpyxl') as writer:
    bangladesh_df.to_excel(writer, sheet_name='Bangladesh', index=False)
    brazil_df.to_excel(writer, sheet_name='Brazil', index=False)
    cambodia_df.to_excel(writer, sheet_name='Cambodia', index=False)
    china_df.to_excel(writer, sheet_name='China', index=False)
    india_df.to_excel(writer, sheet_name='India', index=False)
    indonesia_df.to_excel(writer, sheet_name='Indonesia', index=False)
    mexico_df.to_excel(writer, sheet_name='Mexico', index=False)
    kenya_df.to_excel(writer, sheet_name='Kenya', index=False)
    liberia_df.to_excel(writer, sheet_name='Liberia', index=False)
    rwanda_df.to_excel(writer, sheet_name='Rwanda', index=False)
    southafrica_df.to_excel(writer, sheet_name='South Africa', index=False)
    gambia_df.to_excel(writer, sheet_name='Gambia', index=False)
    zambia_df.to_excel(writer, sheet_name='Zambia', index=False)
    malawi_df.to_excel(writer, sheet_name='Malawi', index=False)
    ghana_df.to_excel(writer, sheet_name='Ghana', index=False)
    eswatini_df.to_excel(writer, sheet_name='Eswatini', index=False)
    workbook = writer.book